In [1]:
# importing dependencies

import pandas as pd
import ast # This is used to convert strings to dictionaries
import matplotlib.pyplot as plt

In [2]:
# importing data

df = pd.read_csv('original_data/SEntFiN-v1.1.csv')
df_2 = pd.read_csv('original_data/stock_news.csv')
df_3 = pd.read_csv('original_data/phrasebook.csv',encoding='latin-1',header=None)
df_4 = pd.read_excel('original_data/negative_guardian.xlsx')
df_5 = pd.read_csv('original_data/sent_train.csv')
df_6 = pd.read_csv('original_data/sent_valid.csv')
df_7 = pd.read_csv('original_data/companies_1.csv')

<font size="3">Firstly Inspecting the Dataframes</font>

In [3]:
df.head()

,S No.,Title,Decisions,Words
0,1,SpiceJet to issue 6.4 crore warrants to promoters,"{""SpiceJet"": ""neutral""}",8
1,2,MMTC Q2 net loss at Rs 10.4 crore,"{""MMTC"": ""neutral""}",8
2,3,"Mid-cap funds can deliver more, stay put: Experts","{""Mid-cap funds"": ""positive""}",8
3,4,Mid caps now turn into market darlings,"{""Mid caps"": ""positive""}",7
4,5,"Market seeing patience, if not conviction: Pra...","{""Market"": ""neutral""}",8

In [4]:
df_2.head()

   Unnamed: 0                                           headline     label
0           0  Markets Close Mostly Lower Again; ROST, PANW R...  Negative
1           1  Gap plummets on earnings miss, cuts full-year ...  Negative
2           2  Billionaire Ken Fisher is Selling These 10 Stocks  Negative
3           3          Corning net income drops 13%, shares fall  Negative
4           4  Internet Explorer shutdown to cause Japan prob...  Negative

In [5]:
df_3.head()

          0                                                  1
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [6]:
df_4.head()

                                           Sentences
0  ‚ÄòI now fear the worst‚Äô: four grim tales of...
1  The Week in Patriarchy  \n\n\n  Bacardi's 'lad...
2  Democratising finance for all? An investment a...
3                                                NaN
4  Ask and Zizzi to close 75 outlets, threatening...

In [7]:
df_5.head()

                                                text  label
0  $BYND - JPMorgan reels in expectations on Beyo...      0
1  $CCL $RCL - Nomura points to bookings weakness...      0
2  $CX - Cemex cut at Credit Suisse, J.P. Morgan ...      0
3  $ESS: BTIG Research cuts to Neutral https://t....      0
4  $FNKO - Funko slides after Piper Jaffray PT cu...      0

In [8]:
df_6.head()

                                                text  label
0  $ALLY - Ally Financial pulls outlook https://t...      0
1  $DELL $HPE - Dell, HPE targets trimmed on comp...      0
2  $PRTY - Moody's turns negative on Party City h...      0
3                   $SAN: Deutsche Bank cuts to Hold      0
4                  $SITC: Compass Point cuts to Sell      0

In [9]:
df_7.head()

                                            Sentence Sentiment
0  The GeoSolutions technology will leverage Bene...  positive
1  $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2  For the last quarter of 2010 , Componenta 's n...  positive
3  According to the Finnish-Russian Chamber of Co...   neutral
4  The Swedish buyout firm has sold its remaining...   neutral

<font size="3">In this Section the Data is Cleaned and Combined into a Single Dataframe 'combined_df'</font>

In [10]:
# df

# Getting relevant columns from 'df'
df=df[['Title','Decisions']]
df=df.rename(columns={'Title':'Sentence','Decisions':'Sentiment'})
df.tail()

,Sentence,Sentiment
10748,"Negative on Chambal, Advanta: Mitesh Thacker","{""Chambal"": ""negative"", ""Advanta"": ""negative""}"
10749,"Small, Mid-cap stocks may emerge outperformers","{""Small"": ""positive"", ""Mid-cap stocks"": ""posit..."
10750,Rupee slips against US dollar,"{""Rupee"": ""negative"", ""US dollar"": ""neutral""}"
10751,Rupee weak against US dollar,"{""Rupee"": ""negative"", ""US dollar"": ""neutral""}"
10752,Australia shares flat; energy drags,"{""Australia shares"": ""neutral"", ""energy"": ""neu..."

In [11]:
# This code extracts the sentiment from the sentiment column. If there are both postive and negative sentiments
# then it replaces the entry with -1 otherwise it will choose 2 if positive or 0 if negative.
# neutral are set to 1.

for index, row in df.iterrows():
    dictionary = ast.literal_eval(row[1]) # converting strings to dictionaries
    keys=list(dictionary.keys()) 
    neg = False
    pos = False
    for key in keys:
        if dictionary[key]=='negative':
            neg = True
        if dictionary[key]=='positive':
            pos = True
    if neg and pos:
        row[1]=-1
    elif neg and not pos:
        row[1]=0
    elif pos and not neg:
        row[1]=2
    elif not pos and not neg:
        row[1]=1

In [12]:
# Checking for -1 rows

df['Sentiment'].value_counts()

 2    4014
 1    3443
 0    3140
-1     156
Name: Sentiment, dtype: int64

In [13]:
# removing -1 rows

df=df[df['Sentiment']!=-1]
df['Sentiment'].value_counts()

2    4014
1    3443
0    3140
Name: Sentiment, dtype: int64

In [14]:
# df_2

# getting relevant columns and renaming
df_2 = df_2[['headline','label']].rename(columns={'headline':'Sentence','label':'Sentiment'})

# changing sentiment column to numerical
df_2['Sentiment'] = df_2['Sentiment'].apply(lambda x: 0 if x=='Negative' else (2 if x=='Positive' else 1))

df_2.head()

                                            Sentence  Sentiment
0  Markets Close Mostly Lower Again; ROST, PANW R...          0
1  Gap plummets on earnings miss, cuts full-year ...          0
2  Billionaire Ken Fisher is Selling These 10 Stocks          0
3          Corning net income drops 13%, shares fall          0
4  Internet Explorer shutdown to cause Japan prob...          0

In [15]:
# df_3

# getting relevant headlines
df_3 = df_3[[1,0]]

# changing column names
df_3 = df_3.rename(columns={1:'Sentence',0:'Sentiment'})

# changing to numerical 
df_3['Sentiment'] = df_3['Sentiment'].apply(lambda x: 0 if x=='negative' else (2 if x=='positive' else 1))
df_3.head()

                                            Sentence  Sentiment
0  According to Gran , the company has no plans t...          1
1  Technopolis plans to develop in stages an area...          1
2  The international electronic industry company ...          0
3  With the new production plant the company woul...          2
4  According to the company 's updated strategy f...          2

In [16]:
# df_4

# rows 1-1000 and 2000-4000 are negative headlines, this was determined by looking through excel file manually :( 

first=df_4[0:1001]
second=df_4[2000:4001]

In [17]:
# combining two dfs
new_df_4 = pd.concat([first,second],axis=0)

# adding column of zeros
new_df_4['Sentiment'] = 3002*[0]

# dropping NAs
new_df_4 = new_df_4.dropna()

# dropping rows with gaps remaining from manually deleting rows
new_df_4 = new_df_4.drop(new_df_4[(new_df_4['Sentences'] ==" ")].index)
new_df_4 = new_df_4.drop(new_df_4[(new_df_4['Sentences'] =="  ")].index)

# renaming columns
new_df_4 = new_df_4.rename(columns={'Sentences':'Sentence'})
new_df_4.head()

                                            Sentence  Sentiment
0  ‚ÄòI now fear the worst‚Äô: four grim tales of...          0
1  The Week in Patriarchy  \n\n\n  Bacardi's 'lad...          0
2  Democratising finance for all? An investment a...          0
4  Ask and Zizzi to close 75 outlets, threatening...          0
6  BA begins to carry out its 'fire and rehire' t...          0

In [18]:
# df_5 and df_6

# This dataframe has labels 0-bearish, 1-bullish and 2-neutral

# we can combine df_5 and df_6 
df_5_6_comb = pd.concat([df_5,df_6],axis=0).reset_index(drop=True).rename(columns={'text':'Sentence','label':'Sentiment'})

# changing labels to our labelling 
df_5_6_comb['Sentiment'] = df_5_6_comb['Sentiment'].apply(lambda x: 2 if x==1 else (1 if x==2 else 0))

df_5_6_comb.head()

                                            Sentence  Sentiment
0  $BYND - JPMorgan reels in expectations on Beyo...          0
1  $CCL $RCL - Nomura points to bookings weakness...          0
2  $CX - Cemex cut at Credit Suisse, J.P. Morgan ...          0
3  $ESS: BTIG Research cuts to Neutral https://t....          0
4  $FNKO - Funko slides after Piper Jaffray PT cu...          0

In [19]:
# df_7 

# df_7 changing sentiment column to numeric
df_7['Sentiment'] = df_7['Sentiment'].apply(lambda x: 2 if x=='positive' else (1 if x=='neutral' else 0))

df_7.head()

                                            Sentence  Sentiment
0  The GeoSolutions technology will leverage Bene...          2
1  $ESI on lows, down $1.50 to $2.50 BK a real po...          0
2  For the last quarter of 2010 , Componenta 's n...          2
3  According to the Finnish-Russian Chamber of Co...          1
4  The Swedish buyout firm has sold its remaining...          1

In [20]:
# combining df's

combined_df = pd.concat([df,df_2,df_3,new_df_4,df_5_6_comb,df_7],axis=0).reset_index(drop=True)

combined_df.head()

                                            Sentence Sentiment
0  SpiceJet to issue 6.4 crore warrants to promoters         1
1                  MMTC Q2 net loss at Rs 10.4 crore         1
2  Mid-cap funds can deliver more, stay put: Experts         2
3             Mid caps now turn into market darlings         2
4  Market seeing patience, if not conviction: Pra...         1

In [21]:
# cleaning combined_df

combined_df = combined_df.dropna()
combined_df = combined_df.drop_duplicates()
combined_df = combined_df.reset_index(drop=True)

# removing gaps and other irrelevant strings
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Project Syndicate economists","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Observer business agenda","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Money talks","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("- live!","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("William Keegan's in my view","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("- study","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("- business live","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("- as it happened","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("- report","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Brexit weekly briefing","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("The long read","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("The Observer view:","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Today in Focus","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Spotify live","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("We Need to Talk About...  Guardian podcast:","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Nils Pratley on finance","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Business live","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Today in Focus","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Politics live with Andrew Sparrow","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("Business live","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("UPDATE --","")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("user","")
combined_df['Sentence'] = combined_df['Sentence'].str.lower()

/var/folders/zf/3rfg40gs4wb4gs28x6t60tg40000gn/T/ipykernel_97671/2971330147.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  combined_df['Sentence'] = combined_df['Sentence'].str.replace("We Need to Talk About...  Guardian podcast:","")

In [22]:
combined_df['Sentiment'].value_counts()

1    23427
2    20922
0    13240
Name: Sentiment, dtype: int64

In [23]:
# removing urls 

combined_df['Sentence'] = combined_df['Sentence'].str.replace(r'http\S+', '', regex=True)

In [24]:
# Removing tickers, i.e, $BYND 

alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']


for index,row in combined_df.iterrows():
    if row[0].__contains__('$'):
        List = row[0].split()
        Ticker = []
        for word in List:
            if '$' in word:
                try:
                    if word[1] in alphabet:
                        Ticker.append(word)
                except:
                    continue
        for i in range(len(Ticker)):
            List.remove(Ticker[i])
        combined_df.loc[index, 'Sentence'] = ' '.join(List)

In [25]:
# removing rows with blank sentence entry

combined_df = combined_df[combined_df['Sentiment']!=""]

In [26]:
# seeing whether any urls remain

for index,row in combined_df.iterrows():
    if row[0].__contains__('http'):
        print(index)

In [27]:
# removing non-alphanumeric characters

non_alphanum = [',','.','/','"',':',';','!','@','#','$','%',"'","*","(",")","&","--","Ä","À","\n",\
                "ô","ì","ò","¶","¬","√","©","â","€","™","õ","deck130216c40","`","~","?","®"]
for char in non_alphanum:
    combined_df['Sentence'] = combined_df['Sentence'].str.replace(char,"")

/var/folders/zf/3rfg40gs4wb4gs28x6t60tg40000gn/T/ipykernel_97671/3782587725.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  combined_df['Sentence'] = combined_df['Sentence'].str.replace(char,"")

In [28]:
# removing other irrelevant strings


combined_df['Sentence'] = combined_df['Sentence'].str.replace(" eur "," ")
combined_df['Sentence'] = combined_df['Sentence'].str.replace(" crore "," ")
combined_df['Sentence'] = combined_df['Sentence'].str.replace(" rs "," ")
combined_df['Sentence'] = combined_df['Sentence'].str.replace(" cr "," ")
combined_df['Sentence'] = combined_df['Sentence'].str.replace(" mn "," ")
combined_df['Sentence'] = combined_df['Sentence'].str.replace("-"," ")
combined_df['Sentence'] = combined_df['Sentence'].str.replace(" - "," ")

In [29]:
# sampling from dataframe to shuffle 

combined_df = combined_df.sample(frac=1)

In [30]:
combined_df.to_csv('Cleaned_data/combined.csv',index=False)