In [9]:
import pandas as pd

In [10]:
# importing guardian headlines and positive and negative words

guardian = pd.read_csv('guardian_headlines.csv')
pos_neg_words = pd.read_excel('words.xlsx',header=None)

In [11]:
pos_neg_words = pd.read_excel('words.xlsx',header=None)

In [13]:
pos_neg_words.head()

            0    1          2
0     2-faced   a+        NaN
1     2-faces  NaN     abound
2    abnormal  NaN    abounds
3     abolish  NaN  abundance
4  abominable  NaN   abundant

In [18]:
# only want negative words

neg_words = pos_neg_words[0]
pos_words = pos_neg_words[2]
neg_words

0          2-faced
1          2-faces
2         abnormal
3          abolish
4       abominable
           ...
4778          zaps
4779        zealot
4780       zealous
4781     zealously
4782        zombie
Name: 0, Length: 4783, dtype: object

In [21]:
pos_words = pos_words.dropna()
pos_words

1           abound
2          abounds
3        abundance
4         abundant
5       accessable
           ...
2001      youthful
2002          zeal
2003        zenith
2004          zest
2005         zippy
Name: 2, Length: 2005, dtype: object

In [23]:
negative_words = list(neg_words)
positive_words = list(pos_words)

In [24]:
# this code block gets headlines from the guardian df that contain negative words

neg = []
for index,row in guardian.iterrows():
    List = row[1].split()
    for word in List:
        if word in negative_words:
            neg.append(row[1])

In [25]:
neg = pd.Series(neg).drop_duplicates().tolist()

In [26]:
# this code block removes headlines from the neg list that contain positive words

for sentence in neg:
    List = sentence.split()
    for word in List:
        if word in positive_words:
            neg.remove(sentence)
            break

In [27]:
len(neg)

6075

In [29]:
# saving 

neg_df = pd.DataFrame({'Sentences':neg})
neg_df.to_csv('negative_guardian.csv',index=False)

In [30]:
neg_df

                                              Sentences
0     ‘I now fear the worst’: four grim tales of wor...
1     The Week in Patriarchy  \n\n\n  Bacardi's 'lad...
2     Democratising finance for all? An investment a...
3     Homebuyer loses £300,000 to fraudsters – but g...
4     Ask and Zizzi to close 75 outlets, threatening...
...                                                 ...
6070  Is the global desire to buy British a bad thin...
6071  ‘Going to the Furniture Ombudsman about our so...
6072  Uber stole trade secrets, bribed foreign offic...
6073  Hundreds to lose jobs as Britvic shuts down No...
6074     Poundland suppliers hit by insurance downgrade

[6075 rows x 1 columns]