In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv('original_data/SEntFiN-v1.1.csv')
df_2 = pd.read_csv('original_data/companies_1.csv')
df_3 = pd.read_csv('original_data/companies_2.csv',encoding='latin-1',header=None)
df_4 = pd.read_csv('original_data/stock_data.csv')

In [3]:
df.head()

,S No.,Title,Decisions,Words
0,1,SpiceJet to issue 6.4 crore warrants to promoters,"{""SpiceJet"": ""neutral""}",8
1,2,MMTC Q2 net loss at Rs 10.4 crore,"{""MMTC"": ""neutral""}",8
2,3,"Mid-cap funds can deliver more, stay put: Experts","{""Mid-cap funds"": ""positive""}",8
3,4,Mid caps now turn into market darlings,"{""Mid caps"": ""positive""}",7
4,5,"Market seeing patience, if not conviction: Pra...","{""Market"": ""neutral""}",8

In [4]:
df_2.head()

                                            Sentence Sentiment
0  The GeoSolutions technology will leverage Bene...  positive
1  $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2  For the last quarter of 2010 , Componenta 's n...  positive
3  According to the Finnish-Russian Chamber of Co...   neutral
4  The Swedish buyout firm has sold its remaining...   neutral

In [5]:
df_3.head()

          0                                                  1
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [6]:
df_4.head()

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1

In [7]:
df=df[['Title','Decisions']]
df.head()

,Title,Decisions
0,SpiceJet to issue 6.4 crore warrants to promoters,"{""SpiceJet"": ""neutral""}"
1,MMTC Q2 net loss at Rs 10.4 crore,"{""MMTC"": ""neutral""}"
2,"Mid-cap funds can deliver more, stay put: Experts","{""Mid-cap funds"": ""positive""}"
3,Mid caps now turn into market darlings,"{""Mid caps"": ""positive""}"
4,"Market seeing patience, if not conviction: Pra...","{""Market"": ""neutral""}"

In [8]:
# This code extracts the sentiment from the Decisions column. If there are both postive and negative sentiments
# then it replaces the entry with zero otherwise it will get the sentiment with positive and negative sentiments
# prioritised over neutral

for index, row in df.iterrows():
    dictionary = ast.literal_eval(row[1])
    keys=list(dictionary.keys())
    if len(keys)>1:
        neg = False
        neutral = False
        pos = False
        for key in keys:
            if dictionary[key]=='negative':
                neg = True
            if dictionary[key]=='positive':
                pos = True
            else:
                neutral = True
        if neg and pos:
            row[1]=0
        elif neg and not pos:
            row[1]='negative'
        elif pos and not neg:
            row[1]='positive'
        else:
            row[1]='neutral'
    else:
        row[1]=dictionary[keys[0]]

In [9]:
df['Decisions'].value_counts()

positive    4014
neutral     3443
negative    3140
0            156
Name: Decisions, dtype: int64

In [10]:
df=df[df['Decisions']!=0]

In [11]:
df['Decisions'].value_counts()

positive    4014
neutral     3443
negative    3140
Name: Decisions, dtype: int64

In [12]:
df['Sentiment'] = df['Decisions'].apply(lambda x: 1 if x=='positive' else (0 if x=='neutral' else -1) )
df = df.rename(columns={'Title':'Sentence'})

In [13]:
df = df[['Sentence','Sentiment']]

In [14]:
df = df[(df['Sentiment']==1) | (df['Sentiment']==-1)]

In [15]:
df['Sentiment'] = df['Sentiment'].apply(lambda x: 0 if x==-1 else 1 )

In [16]:
df.tail()

                                             Sentence  Sentiment
10747         Jeera, pepper decline on subdued demand          0
10748    Negative on Chambal, Advanta: Mitesh Thacker          0
10749  Small, Mid-cap stocks may emerge outperformers          1
10750                   Rupee slips against US dollar          0
10751                    Rupee weak against US dollar          0

In [17]:
# cleaning df_2

df_2 = df_2[(df_2['Sentiment']=='positive')|(df_2['Sentiment']=='negative')]

df_2['Sentiment'] = df_2['Sentiment'].apply(lambda x: 0 if x=='negative' else 1 )

In [18]:
# cleaning df_3

df_3 = df_3[[1,0]]
df_3 = df_3.rename(columns={1:'Sentence',0:'Sentiment'})
df_3 = df_3[(df_3['Sentiment']=='positive')|(df_3['Sentiment']=='negative')]
df_3['Sentiment'] = df_3['Sentiment'].apply(lambda x: 0 if x=='negative' else 1)
df_3.head()

                                            Sentence  Sentiment
2  The international electronic industry company ...          0
3  With the new production plant the company woul...          1
4  According to the company 's updated strategy f...          1
5  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...          1
6  For the last quarter of 2010 , Componenta 's n...          1

In [19]:
df_4 = df_4.rename(columns={'Text':'Sentence'})

In [20]:
df_4['Sentiment'] = df_4['Sentiment'].apply(lambda x: 0 if x==-1 else 1)

In [21]:
combined_df = pd.concat([df,df_2,df_3,df_4],axis=0).reset_index(drop=True)

In [22]:
combined_df=combined_df.drop_duplicates()

In [23]:
combined_df.shape

(15962, 2)

In [24]:
combined_df.to_csv('combined_df.csv',index=False)